@use './reset.scss';
@use './element/index.scss';

.global-page-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.pro-col-not-grid {
  display: flex;
  // align-items: center;
}

.pro-col-full {
  flex: 1;
}
